<header class="header">
    <div class="menu container">
        <a href="#" class="logo">Mis peliculas</a>
        <input type="checbox" id="menu" />
        <label for="menu">
            <img src="imagenes/carrete-de-pelicula.png" class="menu-icono" alt="menu">
            <h3>Menu</h3>
        </label>
        <nav class="navbar">
            <ul>
            <li><a href="#">inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-content container">
        <div class="header-txt">
            <h1>¿Qué <span>peliculas</span><br>quieres ver?</h1>
            <p>
                Conoce algunas de las peliculas más destacadas de acuerdo a su 
                tipo y revisa sus reseñas para motivarte a verlas si aún no lo has echo.
            </p>
            <div class="butons">
                <a href="informacion.html" class="btn-1">información</a>
                <a href="#" class="btn-1">peliculas</a>
            </div>
        </div>
    </div>
</header>
