<main class="product-conteiner">
    <div class="product-1">
        <img src="imagenes/canibal.jpg" alt="pelicula de terror ">
        <div class="product-txt">
            <h3>Terror</h3>
            <div class="price">
                <a href="reseñas holacausto.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/depredador.jpg" alt="">
        <div class="product-txt">
            <h3>Accion</h3>
            <div class="price">
                <a href="reseñas depredador.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/django.jpg" alt="">
        <div class="product-txt">
            <h3>Accion</h3>
            <div class="price">
                <a href="reseñas django.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/dracula.jpg" alt="">
        <div class="product-txt">
            <h3>Suspenso</h3>
            <div class="price">
                <a href="reseñas Dracula.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/el castillo bagabundo.jpg" alt="">
        <div class="product-txt">
            <h3>Anime</h3>
            <div class="price">
                <a href="reseñas El castillo Bagabundo.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/el hombre bicentenario.jpg" alt="">
        <div class="product-txt">
            <h3>Ficción</h3>
            <div class="price">
                <a href="reseñas El hombre bicentenario.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/el viaje de chihiro.jpg" alt="">
        <div class="product-txt">
            <h3>Anime</h3>
            <div class="price">
                <a href="reseñas El viaje de chihiro.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/final fantasy.jpg" alt="">
        <div class="product-txt">
            <h3>Animada</h3>
            <div class="price">
                <a href="reseñas Final fantasy.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/harry potter y las reliquias muerte.jpg" alt="">
        <div class="product-txt">
            <h3>Ficción</h3>
            <div class="price">
                <a href="reseñas Harry potter.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/la profecia.jpg" alt="">
        <div class="product-txt">
            <h3>Suspenso</h3>
            <div class="price">
                <a href="reseñas La profecia.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/matrix.jpg" alt="">
        <div class="product-txt">
            <h3>Accion</h3>
            <div class="price">
                <a href="reseñas matrix.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/patos.jpg" alt="">
        <div class="product-txt">
            <h3>Animada</h3>
            <div class="price">
                <a href="reseñas patos.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/rapidos y furiosos.jpg" alt="">
        <div class="product-txt">
            <h3>Accion</h3>
            <div class="price">
                <a href="reseñas rapidos y furiosos.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/reflejos.jpg" alt="">
        <div class="product-txt">
            <h3>Terror</h3>
            <div class="price">
                <a href="reseñas mirrors.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/totoro.jpg" alt="">
        <div class="product-txt">
            <h3>Anime</h3>
            <div class="price">
                <a href="reseñas totoro.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>
    <div class="product-1">
        <img src="imagenes/underworld.jpg" alt="">
        <div class="product-txt">
            <h3>Ficción</h3>
            <div class="price">
                <a href="reseñas underworld.html" class="btn-2">ver</a>
            </div>
        </div>
    </div>

</main>
