<section class="popular-conteiner">
    <h2>Peliculas mas vistas</h2>
    <div class="popular-content">
        <img src="imagenes/canibal.jpg" alt="">
        <img src="imagenes/depredador.jpg" alt="">
        <img src="imagenes/django.jpg" alt="">
        <img src="imagenes/dracula.jpg" alt="">
        <img src="imagenes/el castillo bagabundo.jpg" alt="">
        <img src="imagenes/el hombre bicentenario.jpg" alt="">
        <img src="imagenes/el viaje de chihiro.jpg" alt="">
        <img src="imagenes/final fantasy.jpg" alt="">
        <img src="imagenes/harry potter y las reliquias muerte.jpg" alt="">
        <img src="imagenes/la profecia.jpg" alt="">
        <img src="imagenes/matrix.jpg" alt="">
        <img src="imagenes/patos.jpg" alt="">
        <img src="imagenes/rapidos y furiosos.jpg" alt="">
        <img src="imagenes/reflejos.jpg" alt="">
        <img src="imagenes/totoro.jpg" alt="">
        <img src="imagenes/underworld.jpg" alt="">
    </div>
    <h2>¿Cuál es la tuya?<br></h2>
  </section>
